<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% extends 'base.html' %}

{% block title %}SIGN UP - JOHANESSTEVEN{% endblock %}

{% block content %}
<div class="row-lg-12 text-center mt-5 mb-3"><h2>Sign Up!</h2></div>
<div class="text-center">
  <form method="post">
    {% csrf_token %}
    <label for="id_username">Username: </label>
      {{ form.username }}
      <br>
    <label for="id_password1">Enter your password:  </label>
      {{ form.password1 }}
      <br>
    <label for="id_password2">Confirm your password:  </label>
      {{ form.password2 }}
      <br>
    <label for="id_email">Email:  </label>
      {{ form.email }}
      <br>
    <button type="submit" id="regbutton">Sign up</button>
  </form>
</div>
{% endblock %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
